.badtameej__container__1,
.badtameej__container__3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  margin-top: 10px;
}
.badtameej__container__2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 10px;
}
.badtameej__container__2__1,
.badtameej__container__2__2,
.badtameej__container__2__3,
.badtameej__container__2__4,
.badtameej__container__2__5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100vh;
}
.badtameej__container__2__text {
  display: flex;
  flex: 0.5;
  width: 65%;
  padding: 20px;
  width: 100%;
  font-family: Chelsea Market;
  font-size: 25px;
  text-align: center;
  color: #f7005a;
  display: initial;
  justify-content: center;
}
.badtameej__container__2__image {
  display: flex;
  flex: 0.5;
  padding: 20px;
}
.bc2__image {
  width: 100%;
  height: 100vh;
  object-fit: contain;
}
.ladduu {
  width: 65%;
  height: 55vh;
  border-radius: 1050px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.badtameej__container__1__text,
.badtameej__container__3__text {
  font-family: Comfortaa;
  font-size: 28px;
  padding: 30px;
  text-align: center;
  color: #101857;
}

@media (max-width: 1100px) {
  .badtameej {
    zoom: 0.9;
  }
}

@media (max-width: 980px) {
  .badtameej {
    zoom: 0.8;
  }
}

@media (max-width: 900px) {
  .badtameej {
    zoom: 0.7 !important;
  }
}

@media (max-width: 800px) {
  .badtameej {
    zoom: 0.65 !important;
  }
}

@media (max-width: 700px) {
  .badtameej {
    zoom: 0.6 !important;
  }
}

@media (max-width: 600px) {
  .badtameej {
    zoom: 0.55 !important;
  }
  .badtameej__container__1 {
    flex-direction: column;
  }
  .badtameej__container__3 {
    flex-direction: column-reverse;
  }
  .badtameej__container__2__text {
    font-size: 23px;
  }
}

@media (max-width: 500px) {
  .badtameej {
    zoom: 0.5 !important;
  }
  .badtameej__container__2__text {
    font-size: 20px;
  }
  .badtameej__container__2__1,
  .badtameej__container__2__2,
  .badtameej__container__2__3,
  .badtameej__container__2__4,
  .badtameej__container__2__5 {
    height: 90vh;
  }
}

@media (max-width: 450px) {
  .badtameej {
    zoom: 0.45 !important;
  }
}

@media (max-width: 430px) {
  .badtameej__container__2__1,
  .badtameej__container__2__2,
  .badtameej__container__2__3,
  .badtameej__container__2__4,
  .badtameej__container__2__5 {
    height: 85vh;
  }
}
@media (max-width: 400px) {
  .badtameej {
    zoom: 0.4 !important;
  }

  .badtameej__container__2__text {
    font-size: 19px;
  }
}

@media (max-width: 330px) {
  .badtameej__container__2__1,
  .badtameej__container__2__2,
  .badtameej__container__2__3,
  .badtameej__container__2__4,
  .badtameej__container__2__5 {
    height: 75vh;
  }
  .badtameej__container__2__text {
    min-width: 400px;
    font-size: 17px;
  }
}

@media (max-width: 250px) {
  .badtameej__container__2__1,
  .badtameej__container__2__2,
  .badtameej__container__2__3,
  .badtameej__container__2__4,
  .badtameej__container__2__5 {
    height: 70vh;
  }
}

@media (max-width: 200px) {
  .badtameej {
    zoom: 0.35 !important;
  }
}
